# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Solution files
/Solution.java
/Solution.class

# Intellij Files
/.idea
/out
/DailyCompetitiveProgramming-.iml

# ReadMe
/README.md

